body {
  background-color: #fffbeb;
  color: #fff;
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  line-height: 1.5;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

/* Header */
.header {
  background-color: #2bf045;
  color: #000;
  text-align: left;
  height: 50px;
}

h2 {
  margin: 0;
}

.container {
  display: flex;
  flex-direction: row;
}

.sidebar {
  background-color: #adf8a6;
  color: #000;
  width: 12vw;
  min-width: 200px;
  height: 93.5vh;
  padding-left: 10px;
  padding-top: 10px;
}

.canvas {
  background-color: #8d8d8d;
  color: #000;
  width: 88vw;
  min-width: 800px;
  height: 94.5vh;
  justify-content: center;
  align-items: center;
}

#canvas {
  background-color: #a0f1ff;
  color: #000;
  width: 800px;
  height: 800px;
}

h3 {
  margin: 0;
}

p {
  margin: 0;
}

.content{
  display: flex;
  flex-direction: row;
}

.objectList{
  color: #000;
  width: 300px;
  padding-left: 10px;
  padding-top: 10px;
}

.header{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-left: 10px;
  padding-right:10px;
  align-items: center;
}

.help-button{
  background-color: #2bf045;
  color: #000;
  border: none;

}

/* The Close Button */
.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}